.error404 {
  width: 100%;
  height: 100%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  &__header {
    display: flex;
    justify-content: center;

    width: 100%;
    padding: 20px 0;

    border-bottom: 0.1px solid #fcfcfc;
  }

  &__logo {
    display: block;
    width: 120px;
    height: 63px;

    fill: #fcfcfc;
  }

  &__main {
    display: flex;
    height: calc(100% - 198px);
    min-height: 300px;

    @media (max-width: 1024px) {
      height: calc(100% - 171px);
    }

    @media (max-width: 768px) {
      height: calc(100% - 180px);
    }
  }

  &__content {
    margin: auto;
    text-align: center;
  }

  &__404 {
    margin-bottom: 50px;

    font-size: 190px;
    font-weight: 100;
    line-height: 1;

    @media (max-width: 1024px) {
      font-size: 123px;
    }

    @media (max-width: 768px) {
      margin-bottom: 30px;
      font-size: 95px;
    }
  }

  &__light {
    margin-bottom: 5px;

    text-transform: uppercase;
    font-size: 64px;
    font-weight: 400;
    line-height: 1.2;

    @media (max-width: 1024px) {
      font-size: 36px;
    }

    @media (max-width: 768px) {
      font-size: 24px;
    }
  }

  &__bold {
    margin-bottom: 50px;

    text-transform: uppercase;
    font-size: 72px;
    font-weight: 600;
    line-height: 1.17;

    @media (max-width: 1024px) {
      font-size: 48px;
    }

    @media (max-width: 768px) {
      margin-bottom: 30px;
      font-size: 36px;
    }
  }

  &__link {
    display: inline-block;
    padding: 15px 35px;

    text-transform: uppercase;
    font-size: 24px;
    line-height: 28px;

    border: 1px solid #fcfcfc;

    @media (max-width: 768px) {
      font-size: 18px;
    }
  }

  &__footer {
    display: flex;

    width: 100%;
    padding: 39px 0 28px;

    border-top: 0.1px solid #fcfcfc;

    @media (max-width: 1024px) {
      padding: 20px 43px;
      justify-content: space-between;
    }

    @media (max-width: 768px) {
      flex-direction: column;
      align-items: center;
    }

    &__item {
      flex: 1;
      display: flex;
      justify-content: center;

      font-size: 18px;
      line-height: 1.5;

      @media (max-width: 1024px) {
        flex: none;
      }

      @media (max-width: 768px) {
        font-size: 12px;

        &:not(:last-child) {
          margin-bottom: 5px;
        }
      }
    }

    &__email {
      border: none;
    }
  }
}
