.error404 {
  width: 100%;
  min-height: 100%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  &__content {
    margin: auto;
    text-align: center;
  }

  &__404 {
    margin-bottom: 10px;

    font-size: 190px;
    font-weight: 100;
    line-height: 1;

    @media (max-width: 1024px) {
      font-size: 123px;
    }

    @media (max-width: 768px) {
      font-size: 95px;
    }
  }

  &__light {
    margin-bottom: 5px;

    text-transform: uppercase;
    font-size: 64px;
    font-weight: 400;
    line-height: 1.2;

    @media (max-width: 1024px) {
      font-size: 36px;
    }

    @media (max-width: 768px) {
      font-size: 24px;
    }
  }

  &__bold {
    margin-bottom: 50px;

    text-transform: uppercase;
    font-size: 72px;
    font-weight: 600;
    line-height: 1.17;

    @media (max-width: 1024px) {
      font-size: 48px;
    }

    @media (max-width: 768px) {
      margin-bottom: 30px;
      font-size: 36px;
    }
  }

  &__link {
    display: inline-block;
    padding: 15px 35px;

    text-transform: uppercase;
    font-size: 24px;
    line-height: 28px;

    border: 1px solid #fcfcfc;

    @media (max-width: 768px) {
      font-size: 18px;
    }
  }

  &__footer {
    .footer {
      color: #fcfcfc;
      border-top: 1px solid #fcfcfc;

      &__email {
        border-bottom: 1px solid #fcfcfc;
      }
    }
  }

  .languages {
    &__button,
    &__item {
      color: #fcfcfc;
    }
  }

  .header {
    .languages {
      @media (max-width: 767px) {
        display: none;
      }
    }
  }

  .footer {
    .languages {
      &__list {
        width: 80px;
        opacity: 0;
        top: 30px;
        left: 50%;
        transform: translateX(-50%);
        transition-property: opacity, top;
        transition-duration: 0.2s;
        transition-timing-function: linear;
        color: #53575a;
        justify-content: center;
      }

      &__item {
        margin: 0 5px;
      }

      &-active {
        opacity: 1;
        top: 0;
      }

      &__button-active {
        color: transparent;
      }

      @media (max-width: 767px) {
        display: block;
      }
    }

    &__item {
      height: auto;
    }
  }

  .main-content {
    min-height: 500px;

    @media (max-width: 767px) {
      height: calc(100vh - 215px);
      min-height: 300px;
    }
  }
}
