@font-face {
  font-family: 'MyriadPro Light';
  font-style: normal;
  font-weight: 300;
  src: local('MyriadPro Light'), local('MyriadPro-Light'),
    url(../fonts/myriadpro-light.ttf) format('truetype');
}

@font-face {
  font-family: 'MyriadPro Regular';
  font-style: normal;
  font-weight: 400;
  src: local('MyriadPro Regular'), local('MyriadPro-Regular'),
    url(../fonts/myriadpro-regular.ttf) format('truetype');
}

// @font-face {
//   font-family: 'Roboto Regular';
//   font-style: normal;
//   font-weight: 400;
//   src: local('Roboto Regular'), local('Roboto-Regular'),
//     url(../fonts/roboto-regular.ttf) format('truetype');
// }

// @font-face {
//   font-family: 'Montserrat SemiBold';
//   font-style: normal;
//   font-weight: 500;
//   src: local('Montserrat SemiBold'), local('Montserrat-SemiBold'),
//     url(../fonts/montserrat-semibold.ttf) format('truetype');
// }

// @font-face {
//   font-family: 'Montserrat Medium';
//   font-style: normal;
//   font-weight: 500;
//   src: local('Montserrat Medium'), local('Montserrat-Medium'),
//     url(../fonts/montserrat-medium.ttf) format('truetype');
// }

// @font-face {
//   font-family: 'Montserrat Regular';
//   font-style: normal;
//   font-weight: 400;
//   src: local('Montserrat Regular'), local('Montserrat-Regular'),
//     url(../fonts/montserrat-regular.ttf) format('truetype');
// }
