.header-mobile {
  padding: 23px 15px 28px 15px;
  display: flex;
  justify-content: space-between;

  &__back-button {
    display: flex;
    align-items: center;
  }

  &__svg {
    width: 12px;
    height: 18px;
    margin-right: 10px;

    stroke: #b3b6b7;
  }

  &__span {
    color: #b3b6b7;
  }
}
