.languages {
  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;

  &__item,
  &__button {
    font-size: 18px;
    line-height: 1.16;
    font-weight: 400;
  }

  &__button {
    transition: color 0.2s linear;
  }

  &__list {
    display: flex;
    width: 85px;
    position: absolute;
    z-index: -1;
  }

  &-active {
    z-index: 0;
  }
}
